* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.nav {
  background-color: #FEFF86;
  padding: 2em 0;
  text-align: center;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.nav__container__logo {
  width: 10%;
}
.nav__container__title {
  width: 90%;
  font-size: 1.5rem;
}

.hero__container {
  width: 60%;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 3em 0;
}

.start {
  text-align: center;
  font-size: 1.5rem;
}
.start p {
  margin: 1em 0;
}
.start button {
  padding: 1.5em;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #19A7CE;
  width: 20%;
}