
@use "../../utitlities/variables" as *;
@use "../../utitlities/mixins" as  *;

.result{
    background-image:  linear-gradient(rgba(255,255,255,0.8),rgba(0,0,0,0.3)),url("https://exothermic6.github.io/Enigma/images/bg%20d.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;

}
.results {
  text-align: center;
  padding-top: 1em;
  font-size: 3rem;
  &__img{
    text-align: center;
    margin-top: 3em;
    img{
        border-radius: 50%;
        box-shadow: 2p 2px solid grey;
        border: 2px solid $yellow;
    }
  }
  }


