@use "../../utitlities/mixins" as *;
@use "../../utitlities/variables" as *;

.hero{
    padding-top: 6em;
    &__container{
        border-radius: 50px;
        background-image:  linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url("../../../images/bulb.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 70%;
        height: 40vh;
        margin: 0 auto;
        font-size: 1.5rem;
        box-shadow: 1px 1px 10px rgb(77, 76, 76);
        color: #fff;
        p{
            padding-top: 4.5em;
            width: 80%;
            margin: 0 auto;
        }
    }
}

.start{
    text-align: center;
    font-size: 1.5rem;
    p{
        margin: 1em 0;
    }
    button{
        @include btn($white,$blue);
        width: 20%;
        border-radius: 100px;
    }
}

.page{
    background-image:  linear-gradient(rgba(255,255,255,0.8),rgba(0,0,0,0.3)),url("../../../images/bg\ d.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 84.6vh;
}