@mixin flex($justify,$align,$direction:row){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin btn($color,$b-color){
    padding: 1.5em;
    border-radius: 5px;
    border: none;
    color: $color;
    background-color: $b-color;
}